<h1 class=" text-sky-400/75 hover:underline text-center text-2xl mt-4">Players</h1>

<div class="max-w-7xl mx-auto mt-12">
  <div class="flex justify-end mb-1">
    <%= form_with url: list_players_path, method: :get, data: { controller: "search-form", search_form_target: "form", turbo_frame: "players" } do |form| %>
      <%= form.text_field :name,
        placeholder: "Search by name",
        class: "border border-blue-500 rounded p-2",
        autocomplete: "off",
        data: { action: "input->search-form#search" }
      %>
    <% end %>
  </div>
  <%= render "players", players: @players %>
</div>